name: Blog CI

on:
  pull_request:
    branches: [ main ]

jobs:
  test-build:
    name: Test Build and Parsing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Run build to check for errors
        run: bun run build

  build:
    name: Build & Upload Artifact
    needs: test-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build static site
        run: bun run build

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: ./dist

  lighthouse:
    name: Lighthouse Audit
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: ./dist

      - name: Create Lighthouse config
        run: |
          echo '{ "ci": { "collect": { "staticDistDir": "./dist" } } }' > ./lighthouserc.json

      - name: Run Lighthouse CI
        uses: treosh/lighthouse-ci-action@v12
        with:
          configPath: './lighthouserc.json'
          uploadArtifacts: true
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  link-checker:
    name: Broken Link Check
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: ./dist

      - name: Start a local server
        run: npx http-server ./dist -p 8080 &

      - name: Wait for server to be ready
        run: npx wait-on http://localhost:8080

      - name: Run Lychee Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          args: "--base http://localhost:8080 --verbose --no-progress './**/*.html'"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}